{% extends 'default.html' %}

{% block title %}
Log in
{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <p>&nbsp;</p>
        <h4><p>You login is {{ user.username }}!</p></h4>
    {% else %}
        <h2>Log in</h2>
        <hr>
        <p>&nbsp;</p>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit"  value="Login">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    {% endif %}
{% endblock content %}